@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: 'arial bold';
    line-height: 1.7em;

}

a{
    text-decoration: none;
    color: #fff;
}

.container{
    text-align: center;
    max-width: 1100px;
    margin:auto;
}

.lead{
    text-align: center;
    font-size: 16px;
    padding: 10px 10px;
    text-align: justify;
}

.btn{
    text-align: center;
    display: inline-block;
    padding: 07px 16px;
    background: rgb(235, 3, 3);;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 03px;
    color:#fff;
    transition: all 0.3;
}

.clr{
    clear: both;
}

/* Close Utality Classes */

#navbar{
    background: #3170ff;
    overflow: auto;
}

#navbar h1{
    float: left;
    padding-top: 20px;
}

#navbar ul{
    list-style: none;
    float: right;
}

#navbar ul li{
    float: left;
}

#navbar ul li a{
    display: block;
    padding: 20px;
    text-align: center;
    transition: all 0.5s;
}

#navbar ul li a:hover,
#navbar ul li a.current{
    background: #4397EA;
    transition: all 0.5s;
}

/* Showcase Area */
#showcase{
    background: url('../img/img2.jpg') no-repeat
    center center/cover;
    height: 600px;
    color: #fff;
}

.showcase-content{
    text-align: center;
    padding-top: 170px;
    color: #333;
}

.showcase-content h2{
   text-align: center;
   font-size: 60px;
   line-height: 1.9em;
 }

 .showcase-content p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
 }

 .showcase-content .btn:hover{
    text-align: center;
    background: #4397EA;
    border: none;
    color:#fff;
    transition: all 0.3s;
 }

/* About Section */

 .about{
    text-align: center;
    height: 350px;
    margin-top: 40px;
 }

 .about h3{
    text-align: center;
    width: 100%;
    border-bottom: 2px solid  #ddd;
 }

 .about h3 span{
    text-align: center;
    background:  #ddd;;
    padding: 20px 22px;
    color: #333;
    text-align: center;
    display: inline-block;
 }
/* Close */


#services h3{
    text-align: center;
    width: 100%;
    border-bottom: 0.5px solid #ddd;;
 }

#services h3 span{
    background: #ddd;
    padding: 20px 22px;
    color: #333;
    text-align: center;
    display: inline-block;
 }

 #services .box{
    float: left;
    width: 33.33%;
    padding: 45px;
    text-align: center;
    margin: 30px 0px;
 }

 .bg-primary{
 background: #4397EA;
    color: #fff;
 }

 .light-gray{
    background: #ddd;
 }

 #services h2{
  margin-bottom: 25px;
 }

/* Author */

#authors h3{
    text-align: center;
    width: 100%;
    border-bottom: 10px solid #fcfbfb;
 }

 #authors h3 span{
    text-align: center;
    background: #fcfbfb;
    padding: 10px 22px;
    color: #080707;
    display: inline-block;
 }

#authors{
    background: url(images/background.jpeg) center;
    text-align: right;
    height: 400px;
    padding-top: 50px ;
    color: #0b0a0a;
 }

.box img{
    float: center;
    width: 100;
    height: 100px;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin: 20px 01px;
}

.auth img{
    align-content: center;
    border-radius: 50%;
}

.names{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #211bdc;
}

/* Contact Us */
#contact h3{
    width: 100%;
    border-bottom: 0.5px solid #ddd;;
    margin-bottom: 35px;
}

#contact h3 span{
    background: #f0eeee;
    padding: 10px 22px;
    color: #333;
    text-align: center;
    display: inline-block;
}

#contact .form-group{
    margin-bottom: 20px;
}

.contact-form label{
    display: block;
    margin-bottom: 5px;
}

.contact-form input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
}

#contact textarea{
    height: 200px;
    width: 100%;
}

.contact-form input:focus,
.contact-form textarea:focus{
    outline: none;
    border-color: #265ede;
}


/* Footer */

#main-footer{
    background: #070707;
    padding: 30px;
    margin-top: 20px;
    text-align: center;
    color:#fff;
}